
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  background-image: url("quiz-2432440_1280.png");
  background-size: 800px 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.quiz-box {
  background: #EEAECA;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.1);
  width: 400px;
  text-align: center;
}

.question {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.options button {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 12px;
  /* background: #EEAECA;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%); */
  border: 2px solid #141515;
  background: #a45bc3;
  color: #333;
  border-radius: 10px;
  cursor: pointer;
  font-size:large;
  font-weight: bold;
  transition: 0.3s;
}

.options button:hover {
  background: #ecf0f1;
}

.options button.selected {
  background: #10bb49;
  color: rgb(27, 27, 26);
}

button#nextBtn {
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  background: #07a319;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}

button#nextBtn:disabled {
  background: #c71f1f;
  cursor: not-allowed;
}

.progress-bar {
  position: relative;
  height: 6px;
  background: #dfcaca;
  border-radius: 4px;
  margin-bottom: 20px;
}

.progress {
  height: 100%;
  background: #270fc0;
  width: 0%;
  transition: width 0.5s ease;
  border-radius: 4px;
}

.progress-text {
  position: absolute;
  right: 0;
  top: -25px;
  font-size: 14px;
  font-weight: bold;
  color: #4f0303;
}

.timer {
  font-size: 16px;
  color: #15100f;
  font-weight: bold;
  margin-bottom: 15px;
}
